{% extends "StefDagVanDeWeekBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">{{ page.title }}</h1>
            </header>

            {{ page.body|raw }}
            {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}
            <h2>Dag van de week</h2>
            <p>Deze gebeurtenis vond plaats op <a href="/historie/{{ page.year }}/{{ "%02d"|format(page.month) }}/{{ "%02d"|format(page.day) }}">{{ dayInfo.dutchWeekdayName }} {{ page.day }} {{ dayInfo.dutchMonthName }} {{ page.year }}</a>. Deze dag viel in week {{ dayInfo.weekNumber }} van dat jaar.</p>
            <p>{{ page.day }} {{ dayInfo.dutchMonthName }} was dag {{ dayInfo.yearDayNumber }} in {{ page.year }}. Het zou nog {{ 365 - dayInfo.yearDayNumber }} dagen duren tot {{ page.year + 1 }} kon beginnen.</p>
        </article>

        <aside class="col-sm-3 sidebar sidebar-right">

        </aside>
    </div>
{% endblock %}