{% extends "StefDagVanDeWeekBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">{{ page.title }}</h1>
            </header>

            <p>Wij hebben hier alle bijzondere jaren voor jou verzameld. Alles dat jij altijd al hebt willen weten, op slechts 1 muisklik afstand.</p>

            <h2>Nieuw binnen</h2>
            <p>De onderstaande artikelen zijn nieuw binnengekomen. Maar, alleen de tekst is nieuw. Het onderwerp kan wel honderden jaren oud zijn. Neem nu nog een kijkje in het verleden!</p>

            <ol>
                {% for item in latestItems %}
                    <li>
                        <a href="{{ path('stef_dag_van_de_week_history_article_show', {'slug': item.slug, 'day': '%02d'|format(item.day), 'month': '%02d'|format(item.month), 'year': item.year}) }}">
                            <h4>{{ item.title }}</h4>
                        </a> ({{ item.year }}/{{ '%02d'|format(item.month) }}/{{ '%02d'|format(item.day) }})
                    </li>
                {% endfor %}
            </ol>


        </article>

        <aside class="col-sm-3 sidebar sidebar-right">
            <h4>Beschikbare jaren</h4>
            <p class="small text-muted">Hieronder is een overzicht van de beschikbare jaren waar wij gegevens van hebben verzameld. Uiteraard is van elk jaar ook een kalender beschikbaar!</p>

            <ul>
                {% for year in years %}
                    <li class="small text-muted">
                        <a href="{{ path('stef_dag_van_de_week_history_year_show', { 'year': year.year}) }}">
                            Overzicht {{ year.year }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    </div>
{% endblock %}