{% extends "StefDagVanDeWeekBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                {% if month is defined %}
                    <h1 class="page-title">{{ month|translate_month|capitalize }} {{ page.year }}</h1>
                {% else %}
                    <h1 class="page-title">Historie {{ page.year }}</h1>
                {% endif %}
            </header>

            {{ page.body|raw }}

            <h2>Gebeurtenissen {{ page.year }}</h2>
            <p>Het jaar {{ page.year }} kenmerkt zich door maar liefst {{ items|length }} bij ons bekende feiten. Het onderstaande overzicht is verre van compleet, maar wij streven naar een zo compleet mogelijk jaaroverzicht {{ page.year }}. Help jij mee?</p>

            <h3>Jaaroverzicht</h3>
            <p>De aangegeven datum achter de gebeurtenis is vermeld in jaar/maand/dag.</p>
            <ol>
                {% for item in items %}
                    <li>
                        <a href="{{ path('stef_dag_van_de_week_history_article_show', {'slug': item.slug, 'day': '%02d'|format(item.day), 'month': '%02d'|format(item.month), 'year': item.year}) }}">
                            {{ item.title }}
                        </a> ({{ item.year }}/{{ '%02d'|format(item.month) }}/{{ '%02d'|format(item.day) }})
                    </li>
                {% endfor %}
            </ol>
        </article>

        <aside class="col-sm-3 sidebar sidebar-right">
            <div class="widget">
                <h4>Kalender</h4>
                <p class="small text-muted">Naast het historische overzicht uit {{ page.year }} hebben wij ook de beschikking over de <a href="/kalender/{{ page.year }}">kalender uit {{ page.year }}</a>. Ontdek snel wat onze andere pagina's aan je kennis kunnen bijdragen.</p>
            </div>
        </aside>
    </div>
{% endblock %}