{% extends "StefDagVanDeWeekBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">Toppers van de Week uit {{ year }}</h1>
            </header>

            <p>Het hele jaar {{ year }} komt er elke week wel iets in het nieuws dat onze aandacht trekt. Daarom presenteren wij je onze weektoppers uit {{ year }}. Leuke, grappige, ontroerende of spraakmakende personen of bedrijven.</p>
            <p>Heb jij zelf nog een TopperTip voor {{ year }} dan houden wij ons zeer zeker aanbevolen.</p>
            {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}
            {% for hero in heroes %}
                <a href="/topper-van-de-week/{{ year }}/{{ hero.week }}">Week {{ hero.week }} - {{ hero.year }}</a><br/>
            {% endfor %}
            {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}
        </article>

        <aside class="col-sm-3 sidebar sidebar-right">

        </aside>
    </div>
{% endblock %}